version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: globalthik_mongoDB_backend
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: globalthink_api
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    environment:
      - PORT=${PORT:-3000}
      - MONGO_URI=mongodb://mongodb:27017/globalthink_db
      - JWT_SECRET=${JWT_SECRET}

volumes:
  mongo_data: