version: '3.8'

services:
  db:
    image: mongo:latest
    container_name: mongodb_technical_test
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data: